* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    margin: 1em;
}

section {
    flex: 1;
    display: flex;
    justify-content: center;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 1em 1em 0 1em;
    max-width: 20em;
    border-radius: 10px;
}

.column h3 {
    width: 100%;
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

.task {
    margin: 1em 1em 0 1em;
    padding: 1em 1em 0 1em;
    min-height: 8em;
    border: 1px solid black;
    border-radius: 8px;
}

.task h4 {
    margin-bottom: 1em;
}

.task p {
    margin-top: 1em;
}

#task_add {
    width: 2em;
    height: 2em;
    margin-left: 3em;
}

header {
    display: flex;
    align-items: center;
}

header h1 {
    margin-right: .4em;
}

#input_task_add {
}

#input_task_add label {
    display: inline-block;
    width: 6.5em;
    text-align: right;
}

#input_task_add div {
    margin-bottom: .3em;
}
